dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work*
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
_cache
_site
.shake
.stack-work*
__*
node_modules
*.jsexe
*.js_hi
*.js_o
*.js_dyn_hi
*.js_dyn_o
*.swo
*.swn
*.swm
*.prof
*.dump-splices
result

*.log
css/
*.tgz
.yarn
.vscode
.quarto
